<link href="~/css/cssfooter.css" rel="stylesheet" />
<link href="~/css1/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>VỀ HKSHOP</h4>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Khuyến mãi</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Địa chỉ liên hệ: 18/Đào Tấn, Phường Phước Vĩnh, TP Huế</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>HKSHOP LẮNG NGHE BẠN</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Đổi trả</a></li>
                        <li><a href="#">Tình trạng đặt hàng</a></li>
                        <li><a href="#">Tùy chọn thanh toán</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <ul>
                        <li><a href="#">Khách hàng thân thiết</a></li>
                        <li><a href="#">Hướng dẫn chọn size</a></li>
                        <li><a href="#">Đăng ký đối tác</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>THEO DÕI HKSHOP</h4>
                    <ul>
                        <li><a href="#">Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</a>
</li> 
                    </ul>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f" style="line-height:inherit;"></i></a>
                        <a href="#"><i class="fab fa-twitter" style="line-height:inherit;"></i></a>
                        <a href="#"><i class="fab fa-instagram" style="line-height:inherit;"></i></a>
                        <a href="#"><i class="fab fa-linkedin" style="line-height:inherit;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>