@model models.modeldata
<link href="~/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="~/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .form-group {
        position: relative;
        width: 100%; /* Điều chỉnh chiều rộng theo ý bạn */
    }
    .form-control {
        width: 100%;
        padding-right: 40px; /* Add padding to accommodate the eye icon */
    }

    .fa-eye, .fa-eye-slash {
        position: absolute;
        top: 65%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
<div class="container-scroller">
    @Html.Partial("~/Views/layout/_navbar.cshtml")
    <div class="container-fluid page-body-wrapper">
        @Html.Partial("~/Views/layout/_sidebar.cshtml")
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Thêm nhân viên </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/user/index">
                                    <button class="item-back">Quay lại</button>
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <form Action="/user/addnhanviens" method="post">
                                    <div class="form-group">
                                        <label for="solandathang">Họ và Tên:</label>
                                        <input type="text" class="form-control" id="hovaten" name="hovaten" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="tongtientoithieu">Điện thoại:</label>
                                        <input type="number" class="form-control" id="dienthoai" name="dienthoai" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="solandathang">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="matkhau">Mật khẩu:</label>
                                        <input type="password" class="form-control" id="matkhau" name="matkhau" required>
                                        <span><i id="togglePassword" class="fa fa-eye"></i></span>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-select" aria-label="Lựa chọn vai trò" name="vaitro">
                                            <option selected>Lựa chọn vai trò</option>
                                            <option value="Quản Lý">Quản Lý</option>
                                            <option value="Nhân Viên">Nhân Viên</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="ngaythemquydinh">Địa chỉ:</label>
                                        <input type="text" class="form-control" id="diachi" name="diachi" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="ngaythemquydinh">Lương:</label>
                                        <input type="number" class="form-control" id="luong" name="luong" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#matkhau');

    togglePassword.addEventListener('click', function (e) {
        // Toggle the type attribute using getAttribute() and setAttribute()
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

        // Toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="~/assets/vendors/chart.js/chart.min.js"></script>
<script src="~/assets/js/jquery.cookie.js"></script>
<script src="~/assets/js/off-canvas.js"></script>
<script src="~/assets/js/hoverable-collapse.js"></script>
<script src="~/assets/js/misc.js"></script>
<script src="~/assets/js/dashboard.js"></script>
<script src="~/assets/js/todolist.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
